<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="df w100-percent m-auto c-white">
        <div class="df aic bg-black"><img class="w50 h50" src="https://cdn-icons-png.flaticon.com/512/3580/3580415.png"></div>
        <div class="p10 bg-black">
            <div class="wsp fwb">CAREPOINT CLINIC</div>
            <div class="fs12">By Hong Son</div>
        </div>
        <div class="p10 aic df wsp bg-red tac">
            <div>HOTLINE:</div>
            <div class="fwb ml3">0987 654 321</div>
        </div>

        {% if user.role == 'admin' %}
            <div class="df jcsa aic w100-percent bg-black pl250 pt10 pb10 pr10 tu">
                <div><a href="/admin" class="tdc c-white">Home page</a></div>
                <div><a href="/find-doctors" class="tdc c-white">Doctors</a></div>
                <div><a href="/admin/about-us" class="tdc c-white">About us</a></div>
                <div class="nav-item" id="login">Account
                    <i class="fa fa-list"></i>
                    <div class="dropdown">
                        <a href="/profile" class="tdc c-white"><div class="dropdown-item">Profile</div></a>
                        <a href="/admin/create-account" class="tdc c-white"><div class="dropdown-item">Create account</a></div>
                        <a href="/admin/delete-account" class="tdc c-white"><div class="dropdown-item">Delete account</a></div>
                        <a href="/logout" class="tdc c-white"><div class="dropdown-item">Log out</div></a>
                    </div>
                </div>
            </div>

        {% elif user.role == 'doctor' %}
            <div class="df jcsa aic w100-percent bg-black pl250 pt10 pb10 pr10 tu">
                <div><a href="/doctor" class="tdc c-white">Home page</a></div>
                <div><a href="/doctor/about-us" class="tdc c-white">About us</a></div>
                <div class="nav-item" id="login">Account
                    <i class="fa fa-list"></i>
                    <div class="dropdown">
                        <a href="/profile" class="tdc c-white"><div class="dropdown-item">Profile</div></a>
                        <a href="/doctor/appointments" class="tdc c-white"><div class="dropdown-item">Appointments</div></a>
                        <a href="/logout" class="tdc c-white"><div class="dropdown-item">Log out</div></a>
                    </div>
                </div>
            </div>

        {% elif user.role == 'patient' %}
            <div class="df jcsa aic w100-percent bg-black pl250 pt10 pb10 pr10 tu">
                <div><a href="/patient" class="tdc c-white">Home page</a></div>
                <div><a href="/find-doctors" class="tdc c-white">Doctors</a></div>
                <div><a href="/patient/about-us" class="tdc c-white">About us</a></div>
                <div class="nav-item" id="login">Account
                    <i class="fa fa-list"></i>
                    <div class="dropdown">
                        <a href="/profile" class="tdc c-white"><div class="dropdown-item">Profile</div></a>
                        <a href="/patient/appointments" class="tdc c-white"><div class="dropdown-item">Appointment</div></a>
                        <a href="/logout" class="tdc c-white"><div class="dropdown-item">Log out</div></a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="container">
        <h1>Change password</h1>
        <form action="/change-password" method="POST">
            <div class="form-group">
                <label for="current_pass">Current password:</label><br>
                <input type="password" id="current_pass" name="current_pass" required>
            </div>
            <div class="form-group">
                <label for="new_pass">New password:</label><br>
                <input type="password" id="new_pass" name="new_pass" required>
            </div>
            <div class="form-group">
                <label for="confirm_pass">Confirm new password:</label><br>
                <input type="password" id="confirm_pass" name="confirm_pass" required>
            </div>
            
            <div class="form-group df jcsa">
                <button type="submit">Save</button>
                <button href="/profile">Back</button>
            </div>
        </form>
    </div>
    
    <div class="bottom-div">
        <div class="w40-percent pl15">
            <div class="df">
                <div class="df aic"><img class="w50 h50" src="https://cdn-icons-png.flaticon.com/512/3580/3580415.png"></div>
                <div class="df jcc fd-c">
                    <div class="wsp fwb">CAREPOINT CLINIC</div>
                </div>
            </div>

            <div class="fs18 pt10">Welcome to CarePoint Clinic – Your Health, Your App. 
                Book appointments seamlessly and take control of your well-being with ease
            </div>

            <div class="fs18 pt10">Address: 275 Nguyen Trai street, Thanh Xuan distric, Hanoi
            </div>
        </div>

        {% if user.role == 'admin' %}
            <div class="w30-percent">
                <div class="fs25 pt15">Links</div>
                <div class="fs18">
                    <div class="pt10"><a href="/admin" class="tdc c-white">Home page</a></div>
                    <div class="pt10"><a href="/admin/about-us" class="tdc c-white">About us</a></div>
                </div>
            </div>
        {% elif user.role == 'doctor' %}
            <div class="w30-percent">
                <div class="fs25 pt15">Links</div>
                <div class="fs18">
                    <div class="pt10"><a href="/doctor" class="tdc c-white">Home page</a></div>
                    <div class="pt10"><a href="/doctor/about-us" class="tdc c-white">About us</a></div>
                </div>
            </div>
        {% elif user.role == 'patient' %}
            <div class="w30-percent">
                <div class="fs25 pt15">Links</div>
                <div class="fs18">
                    <div class="pt10"><a href="/patient" class="tdc c-white">Home page</a></div>
                    <div class="pt10"><a href="/patient/find-doctors" class="tdc c-white">Doctors</a></div>
                    <div class="pt10"><a href="/patient/about-us" class="tdc c-white">About us</a></div>
                </div>
            </div>
        {% endif %}

        <div class="w30-percent">
            <div class="fs25 pt15">Follow us</div>
            <div class="fs18">
                <div>
                    <a href="https://www.facebook.com/" target="_blank" class="tdc c-white df">
                        <div class="df aic"><img class="w25 h25" src="https://cdn-icons-png.flaticon.com/512/2504/2504903.png"></div>
                        <div class="pt10">Facebook</div>
                    </a>
                </div>

                <div>
                    <a href="https://www.youtube.com/" target="_blank" class="tdc c-white df">
                        <div class="df aic"><img class="w25 h25" src="https://cdn-icons-png.flaticon.com/512/2504/2504965.png"></div>
                        <div class="pt10">Youtube</div>
                    </a>
                </div>

                <div>
                    <a href="https://www.instagram.com/" target="_blank" class="tdc c-white df">
                        <div class="df aic"><img class="w25 h25" src="https://cdn-icons-png.flaticon.com/512/2504/2504918.png"></div>
                        <div class="pt10">Instagram</div>
                    </a>
                </div>
            </div> 
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>