<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book appointments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="df w100-percent m-auto c-white">
        <div class="df aic bg-black"><img class="w50 h50" src="https://cdn-icons-png.flaticon.com/512/3580/3580415.png"></div>
        <div class="p10 bg-black">
            <div class="wsp fwb">CAREPOINT CLINIC</div>
            <div class="fs12">By Hong Son</div>
        </div>
        <div class="p10 aic df wsp bg-red tac">
            <div>HOTLINE:</div>
            <div class="fwb ml3">0987 654 321</div>
        </div>
        <div class="df jcsa aic w100-percent bg-black pl250 pt10 pb10 pr10 tu">
            <div><a href="/patient" class="tdc c-white">Home page</a></div>
            <div><a href="/find-doctors" class="tdc c-white">Doctors</a></div>
            <div><a href="/patient/about-us" class="tdc c-white">About us</a></div>
            <div class="nav-item" id="login">Account
                <i class="fa fa-list"></i>
                <div class="dropdown">
                    <a href="/profile" class="tdc c-white"><div class="dropdown-item">Profile</div></a>
                    <a href="/patient/appointments" class="tdc c-white"><div class="dropdown-item">Appointment</div></a>
                    <a href="/logout" class="tdc c-white"><div class="dropdown-item">Log out</div></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>List of your appointments</h1>
        {% for index, appointment in enumerate(appointment_list, start=1) %}
            <div class="mb20 tac df form-group">
                <div class="w60-percent">
                    <b>Day {{ loop.index }}:</b> {{ appointment.appointment.strftime('%d - %m - %Y') }}. 
                    <b>Doctor:</b> {{ appointment.fullname }}
                </div>
                <div class="w20-percent">
                    <a href="/patient/appointments/past-appointment/{{ appointment.appointment_detail_id }}"><button>Detail</button></a>
                </div>
                {% if appointment.appointment > today %}
                    <div class="w20-percent">
                        <form method="POST" action="/patient/delete_appointment">
                            <input type="hidden" name="appointment_detail_id" value="{{ appointment.appointment_detail_id }}">
                            <button type="submit" onclick="return confirm('Are you sure you want to delete this appointment?')">Delete</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="bottom-div">
        <div class="w40-percent pl15">
            <div class="df">
                <div class="df aic"><img class="w50 h50" src="https://cdn-icons-png.flaticon.com/512/3580/3580415.png"></div>
                <div class="df jcc fd-c">
                    <div class="wsp fwb">CAREPOINT CLINIC</div>
                </div>
            </div>

            <div class="fs18 pt10">Welcome to CarePoint Clinic – Your Health, Your App. 
                Book appointments seamlessly and take control of your well-being with ease
            </div>

            <div class="fs18 pt10">Address: 275 Nguyen Trai street, Thanh Xuan distric, Hanoi
            </div>
        </div>

        <div class="w30-percent"> 
            <div class="fs25 pt15">Links</div>   
            <div class="fs18">
                <div class="pt10"><a href="/patient" class="tdc c-white">Home page</a></div>
                <div class="pt10"><a href="/patient/find-doctors" class="tdc c-white">Doctors</a></div>
                <div class="pt10"><a href="/patient/about-us" class="tdc c-white">About us</a></div>
            </div>
        </div>

        <div class="w30-percent">
            <div class="fs25 pt15">Follow us</div>
            <div class="fs18">
                <div>
                    <a href="https://www.facebook.com/" target="_blank" class="tdc c-white df">
                        <div class="df aic"><img class="w25 h25" src="https://cdn-icons-png.flaticon.com/512/2504/2504903.png"></div>
                        <div class="pt10">Facebook</div>
                    </a>
                </div>

                <div>
                    <a href="https://www.youtube.com/" target="_blank" class="tdc c-white df">
                        <div class="df aic"><img class="w25 h25" src="https://cdn-icons-png.flaticon.com/512/2504/2504965.png"></div>
                        <div class="pt10">Youtube</div>
                    </a>
                </div>

                <div>
                    <a href="https://www.instagram.com/" target="_blank" class="tdc c-white df">
                        <div class="df aic"><img class="w25 h25" src="https://cdn-icons-png.flaticon.com/512/2504/2504918.png"></div>
                        <div class="pt10">Instagram</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</body>
</html>
