<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="df w100-percent m-auto c-white">
        <div class="df aic bg-black"><img class="w50 h50" src="https://cdn-icons-png.flaticon.com/512/3580/3580415.png"></div>
        <div class="p10 bg-black">
            <div class="wsp fwb">CAREPOINT CLINIC</div>
            <div class="fs12">By Hong Son</div>
        </div>
        <div class="p10 aic df wsp bg-red tac">
            <div>HOTLINE:</div>
            <div class="fwb ml3">0987 654 321</div>
        </div>
        <div class="df jcsa aic w100-percent bg-black pl250 pt10 pb10 pr10 tu">
            <div><a href="/patient" class="tdc c-white">Home page</a></div>
            <div><a href="/find-doctors" class="tdc c-white">Doctors</a></div>
            <div><a href="/patient/about-us" class="tdc c-white">About us</a></div>
            <div class="nav-item" id="login">Account
                <i class="fa fa-list"></i>
                <div class="dropdown">
                    <a href="/profile" class="tdc c-white"><div class="dropdown-item">Profile</div></a>
                    <a href="/patient/appointments" class="tdc c-white"><div class="dropdown-item">Appointment</div></a>
                    <a href="/logout" class="tdc c-white"><div class="dropdown-item">Log out</div></a>
                </div>
            </div>
        </div>
    </div>


    <div class="df m-auto w80-percent mt40">
        <div class="p10 df fd-c jcsa tac aic">
            <div class="fs45">Your path to wellness begins here</div>
            <div>Welcome to our clinic, where we believe that your journey to wellness starts right here, with us. 
                Our dedicated team of healthcare professionals is committed to providing you with personalized care tailored 
                to your unique needs. From routine check-ups to specialized treatments, we're here to support you 
                every step of the way.
            </div>
        </div>

        <div class="p10">
            <div class="df aic">
                <img class="h300 w-auto" src="https://img.freepik.com/premium-photo/male-doctor-pointing-hand-up-away-right-side_46728-1480.jpg?w=996">
            </div>
        </div>
        
        <div>
            <div class="p10">
                <div class="df aic">
                    <img class="h200 w-auto" src="https://img.freepik.com/free-photo/asian-female-doctor-physician-medical-uniform-with-stethoscope-cross-arms-chest-smiling-looking-like-professional-white-background_1258-83205.jpg?size=626&ext=jpg&ga=GA1.1.1358300016.1713063336&semt=sph">
                </div>
            </div>
            <div class="p10">
                <div class="df aic">
                    <img class="h200 w-auto" src="https://img.freepik.com/free-photo/smiling-asian-male-doctor-pointing-upwards_1262-18321.jpg?size=626&ext=jpg&ga=GA1.1.1358300016.1713063336&semt=sph">
                </div> 
            </div>
        </div>
    </div>


    <div class="m-auto w80-percent mt20 df jcsb fs20">
        <div>
            <div class="df aic jcc">
                <div class="bdb-red">30+</div>
            </div>
            <div>Years of Experience</div>
        </div>
        <div>
            <div class="df aic jcc">
                <div class="bdb-blue">15-30</div>
            </div>
            <div>Minutes of Waiting Times</div>
        </div>
        <div>
            <div class="df aic jcc">
                <div class="bdb-green">90% +</div>
            </div>
            <div>Treatment Success Rates</div>
        </div>
        <div>
            <div class="df aic jcc">
                <div class="bdb-violet">1:100</div>
            </div>
            <div>Staff-to-Patient Ratio</div>
        </div>
        <div>
            <div class="df aic jcc">
                <div class="bdb-brown">20+</div>
            </div>
            <div>Clinic Location</div>
        </div>
    </div>


    <div class="m-auto w80-percent">
        <div class="tac mt40">
            <div class="fs30 fwb">Providing the best medical services</div>
            <div class="fs18 pt20">World-class care for everyone. Our health System offers unmatched, expert health care</div>
        </div>
        
        <div class="df mt20 jcsb">
            <div class="tac w33-percent p20">
                <div><img class="h150" src="https://cdn-icons-png.flaticon.com/512/6401/6401082.png"></div>
                <div class="fs25">Find a doctor</div>
                <div class="fs18"> Easily search and discover experienced doctors based on specialty, location, or availability</div>
            </div>

            <div class="tac w33-percent p20">
                <div><img class="h150" src="https://cdn-icons-png.flaticon.com/512/1865/1865269.png"></div>
                <div class="fs25">Find a location</div>
                <div class="fs18">Instantly locate our clinics near you with detailed directions and maps for convenient access to healthcare</div>
            </div>

            <div class="tac w33-percent p20">
                <div><img class="h150" src="https://cdn-icons-png.flaticon.com/512/942/942810.png"></div>
                <div class="fs25">Book an appointment</div>
                <div class="fs18"> Effortlessly schedule appointments with your preferred doctor or clinic at your convenience, avoiding wait times and ensuring timely access to care</div>
            </div>
        </div>
    </div>


    <div class="bottom-div">
        <div class="w40-percent pl15">
            <div class="df">
                <div class="df aic"><img class="w50 h50" src="https://cdn-icons-png.flaticon.com/512/3580/3580415.png"></div>
                <div class="df jcc fd-c">
                    <div class="wsp fwb">CAREPOINT CLINIC</div>
                </div>
            </div>

            <div class="fs18 pt10">Welcome to CarePoint Clinic – Your Health, Your App. 
                Book appointments seamlessly and take control of your well-being with ease
            </div>

            <div class="fs18 pt10">Address: 275 Nguyen Trai street, Thanh Xuan distric, Hanoi
            </div>
        </div>

        <div class="w30-percent">
            <div class="fs25 pt15">Links</div>
            <div class="fs18">
                <div class="pt10"><a href="/patient" class="tdc c-white">Home page</a></div>
                <div class="pt10"><a href="/patient/find-doctors" class="tdc c-white">Doctors</a></div>
                <div class="pt10"><a href="/patient/about-us" class="tdc c-white">About us</a></div>
            </div>
        </div>

        <div class="w30-percent">
            <div class="fs25 pt15">Follow us</div>
            <div class="fs18">
                <div>
                    <a href="https://www.facebook.com/" target="_blank" class="tdc c-white df">
                        <div class="df aic"><img class="w25 h25" src="https://cdn-icons-png.flaticon.com/512/2504/2504903.png"></div>
                        <div class="pt10">Facebook</div>
                    </a>
                </div>

                <div>
                    <a href="https://www.youtube.com/" target="_blank" class="tdc c-white df">
                        <div class="df aic"><img class="w25 h25" src="https://cdn-icons-png.flaticon.com/512/2504/2504965.png"></div>
                        <div class="pt10">Youtube</div>
                    </a>
                </div>

                <div>
                    <a href="https://www.instagram.com/" target="_blank" class="tdc c-white df">
                        <div class="df aic"><img class="w25 h25" src="https://cdn-icons-png.flaticon.com/512/2504/2504918.png"></div>
                        <div class="pt10">Instagram</div>
                    </a>
                </div>
            </div> 
        </div>
    </div>
</body>
</body>
</html>
